body {
    background-color:#b7bbc3;
}
#mainhead {
    height:90px;
    background-color:#1d57aa;
}
#wrap {
    width:952px;
    margin-left: auto;
    margin-right: auto;
    border:1px solid #8396d3;
    min-height:750px;
    background-color:white;
    margin-top:0px;
}
.mainNav {
    text-decoration:none;
    color:#8396d3;
    padding-right:1em;
}
.thispage {
    color:white;
}
    a.mainNav:hover {
    color:white;
    text-decoration:none;
}
    #subhead{
    background-color:#00396a;
    padding-left:30px;
    height:30px;
    line-height:30px;
    font-size:1em;
    margin-bottom: 20px;
}
.caret { 
    color : white;
    border-top-color: white;
    border-bottom-color: white;
}
.command-bar {
    padding-left: 5px;
    padding-right: 5px;
}


/** makes the borrower vs. lender pills match the FF color theme */
.nav-pills>li.active>a, 
.nav-pills>li.active>a:hover, 
.nav-pills>li.active>a:focus {
    color: #fff;
    background-color: #00396a;
}
